<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.WebTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test08</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test07</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test06</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
