<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a8684">  <td>17/05/27 20:37:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WebTest.afterMethod()[pri:0, instance:test.WebTest@617faa95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1643691748</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/05/27 20:36:57</td>   <td>-9861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebTest.beforeMethod()[pri:0, instance:test.WebTest@617faa95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1643691748</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/05/27 20:37:04</td>   <td>-2312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTest.test08()[pri:0, instance:test.WebTest@617faa95]">test08</td> 
  <td>main@1643691748</td>   <td></td> </tr>
</table>
