<h2>Methods that were not run</h2><table>
<tr><td>test.WebTest.test07<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Correct login</i></td></tr>
<tr><td>test.WebTest.test03<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Find book by publisher AST and max price</i></td></tr>
<tr><td>test.WebTest.test06<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Incorrect login</i></td></tr>
<tr><td>test.WebTest.test04<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Correct sign in</i></td></tr>
<tr><td>test.WebTest.test05<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Incorrect signin</i></td></tr>
<tr><td>test.WebTest.test01<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Find book by name </i></td></tr>
</table>